extends include/template

append config
  -siteName='Home'
prepend styles
//-  link de estilo
block content
  main.main-wrapper
    +scrollTop
    +Header
    br
    .container
      section.row 
        .col-xs-12.col-sm-6.col-md-6
          a(href="#").btn.btn-success.btn-lg.disabled.marginBottom Welcome! I'M
          h1.text-capitalize yader mendoza
          h3.marginBottom.text-capitalize: ins web developer
          p.marginBottom  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          .container.marginBottom 
            a(type="button").btn.btn-outline-success.text-success.btn-lg.btnHire.text-capitalize.mr-3 Hire Me
            a(type="button").btn.btn-outline-success.text-success.btn-lg.btnExplore.text-capitalize Explore
        .col-xs-12.col-sm-6.col-md-6
          .photoContainer.d-flex-justifyCenter
            img(src="public/img/foto.png", alt="profile picture").photoContainer__img
  section.container.aboutMe.marginBottomContainer
    img(src="public/img/elipse.png", alt="circle").aboutMe__circle
    .row
      .col-xs-12.col-sm-12.col-md-6.aboutMe__backgroundPoint
        img(src="public/img/person2.png", alt="photo").container.aboutMe__img
      .col-xs-12.col-sm-12.col-md-6.aboutMe__information
          a(href="#").btn.btn-success.btn-lg.disabled.marginBottom.aboutMe__headerTitle.text-capitalize about me
          h1.aboutMe__subTitle.marginBottom.display-1.text-secondary.text-uppercase who am i
          .aboutMe__paragraphContainer.marginBottom
            p 
            | !! My full name is Yader Alexander Mendoza Balmaceda, I am 27 years old, currently I am dedicated to developing a website like Frontend, I live in Managua - Nicaragua.
            p 
            | Profile:
            br
            | Contribute to the design and development of website and web applications, according to my skills, knowledge and experience.
          a(href="public/documen/cv.pdf" download="CV-Yader-Mendoza" type="button").btn.btn-success.btn-lg.text-capitalize download CV
  section.container.progressbar__container.marginBottomContainer#studies
    h1.text-capitalize professional skills
    .dropdown-divider.marginBottom
    .row.progressbar__containerCircleProgress
      +ProgressBar('HTML5','html-5.png','0.85')
      +ProgressBar('CSS3','css-3.png','0.85')
      +ProgressBar('JavaScript','js.png','0.70','collapse d-md-block d-lg-block','collapseProgress')
      +ProgressBar('PUG','pug.png','0.85','collapse d-lg-block','collapseProgress')
      +ProgressBar('SASS','sass.png','0.85','collapse','collapseProgress')
      +ProgressBar('REACT','react.png','0.50','collapse','collapseProgress')
      +ProgressBar('BOOTSTRAP','bootstrap.png','0.70','collapse','collapseProgress')
      +ProgressBar('GIT','git.png','0.60','collapse','collapseProgress')
      +ProgressBar('GULP','gulp.png','0.60','collapse','collapseProgress')
    .row.d-block.d-sm-none
      .progressbar__containerBarra.container
        +progressBarra('HTML5','85')
        +progressBarra('CSS3','85')
        +progressBarra('JavaScript','70')
        +progressBarra('PUG','85')
        +progressBarra('SASS','85','collapse','collapseProgress')
        +progressBarra('REACT','50','collapse','collapseProgress')
        +progressBarra('BOOTSTRAP','70','collapse','collapseProgress')
        +progressBarra('GIT','60','collapse','collapseProgress')
        +progressBarra('GULP','60','collapse','collapseProgress')
    .dropdown-divider
    span: a(class="btn btn-outline-success marginBottom" data-toggle="collapse" href="#collapseProgress" role="button" aria-expanded="false" aria-controls="collapseExample" onClick="Circlle('.progressbar__round');") View all
  section.container.projectContainer.marginBottomContainer#projects
    h1.text-center.text-capitalize practice professionals
    .dropdown-divider.marginBottom
    .row.projectContainer__backgroundPointerImage
      +card('ENICER','pages-enicer.png','https://yader316.github.io/enicer/')
      +card('SLIYP','pages-slip.png','https://yader316.github.io/Holidays/public/','collapse d-sm-block','collapseCard')
      +card('Airmusic','pages-airmusic.png','https://yader316.github.io/airmusic/','collapse d-md-block ','collapseCard')
      +card('Education','pages-education.png','https://yader316.github.io/Education/','collapse d-lg-block','collapseCard')
      +card('Smart Technology','pages-smart.png','https://yader316.github.io/smart-technology/public/','collapse','collapseCard')
    .dropdown-divider
    span: a(class="btn btn-outline-success" data-toggle="collapse" href="#collapseCard" role="button" aria-expanded="false" aria-controls="collapseExample").text-capitalize view all
  section#testimonial.testimonialContainer.marginBottomContainer
    h1.display-4.bg-success.text-white.text-center.testimonialContainer__title.text-capitalize personal references
    +carouselTestimonial
  section.container.mb-5#contact
    +contactMe   
  footer.footerContainer
    .container.footerContainer__containerPrincipal
      .d-lg-flex.justify-content-lg-between.d-xs-flex.d-xs-flex-column.text-center
        .footerContainer__logo.mb-5
          img(src="public/img/logo.png" alt="logo")
        .footerContainer__thanks.mb-5
          h1.text-secondary.text-capitalize thanks for watching
          h4.text-primary.text-capitalize if you like it please appreciate it!
        .footerContainer__redes.mb-5
          .d-flex.justify-content-center
            button(
              type="button" 
              class="btn btn-link" 
              data-toggle="popover"
              data-trigger="focus" 
              data-placement="top" 
              title="Email" 
              data-content="yadtais316@gmail.com" 
            ) #[img(src="public/img/icon/gmail.png", alt="gmail icon")]
            button(
              type="button" 
              class="btn btn-link" 
              data-toggle="popover"
              data-trigger="focus" 
              data-placement="top" 
              title="Whatsapp" 
              data-content="8326 - 1118" 
            ) #[img(src="public/img/icon/whatsapp.png", alt="gmail icon")]   
            button(
              type="button" 
              class="btn btn-link" 
              data-toggle="popover"
              data-trigger="focus" 
              data-placement="top" 
              title="Facebook" 
              data-content="www.facebook.com/yader.mendoza.33" 
            ) #[img(src="public/img/icon/facebook.png", alt="facebook icon")] 
append script
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-circle-progress/1.2.2/circle-progress.min.js")
  script(src="public/js/progressBar.js")
  script(src="public/js/scrollTop.js")
