mixin Header
  header.marginBottom.headerContainer
    .container
      br
      nav.navbar.navbar-expand-lg.navbar-light
        a.navbar-brand(href="#") 
          img(src="public/img/logo.png" alt="logo").headerContainer__imgLogo
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbar-1") #[span.navbar-toggler-icon]
        .collapse.navbar-collapse#navbar-1
          ul.navbar-nav.mr-auto
            li.nav-item: a(href=`index.html`).nav-link.text-capitalize inicio 
            li.nav-item: a(href=`#projects`).nav-link.text-capitalize proyectos 
            +MenuDropdown('sobre mí ','habilidades','referencias','descargar CV','#studies','#testimonial','public/documen/cv.pdf')
            li.nav-item: a(href=`#contact`).nav-link.text-capitalize contacto 
          ul.nav.d-lg-block.justify-content-lg-end.justify-content-md-start
            li.nav-item
              button(
                type="button" 
                class="btn btn-link" 
                data-toggle="popover"
                data-trigger="focus" 
                data-placement="left" 
                title="Email" 
                data-content="yadtais316@gmail.com" 
              ) #[img(src="public/img/icon/gmail.png", alt="gmail icon")]
            li.nav-item
              button(
                type="button" 
                class="btn btn-link" 
                data-toggle="popover"
                data-trigger="focus" 
                data-placement="left" 
                title="Whatsapp" 
                data-content="8326 - 1118" 
              ) #[img(src="public/img/icon/whatsapp.png", alt="gmail icon")]   
            li.nav-item
              button(
                type="button" 
                class="btn btn-link" 
                data-toggle="popover"
                data-trigger="focus" 
                data-placement="left" 
                title="Facebook" 
                data-content="www.facebook.com/yader.mendoza.33" 
              ) #[img(src="public/img/icon/facebook.png", alt="facebook icon")]