mixin progressBarra(title,porcentaje,clase,id)
  .progress.marginBottom.progressbar__sizeTitlePorcentaje(class=`${clase}` id=`${id}` )
    div( class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style=`width: ${porcentaje}%;` aria-valuenow="100" aria-valuemin="0" aria-valuemax=`${porcentaje}`) #[h5.progressbar__titlePorcentaje #{porcentaje}% - #{title}]
  